TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID_FOR_FEEDBACK=
TELEGRAM_TERMEET_DOMAIN=
TELEGRAM_BACKEND_API_URL=

CLAUDE_API_KEY=

RABBIT_HOST=
RABBIT_PORT=
RABBIT_USER=
RABBIT_PASSWORD=

POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

CONTAINER_REGISTRY=